  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,600;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .001s linear;
}

:root{
  --sunset: #d78636;
    --alegreya: 'Alegreya Sans', sans-serif;
    --fs: 1.3em;
}

.splash{
  cursor: pointer;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  background-color: #252424;
  transition: all ease-in-out 600ms;
}
.hidden{
  transition: 0.5s;
  display: none;
}
.splash-header{
  height: 90%;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body, html{
    overflow-x: hidden;
}

#nav-toggler{
    -webkit-appearance: none;
    position: fixed;
    top:20px; right:30px;
    cursor: pointer;
    z-index: 1010;
    font-size: 3rem;
  }
  
  #nav-toggler:checked{
    transform: rotate(180deg);
  }
  
  #nav-toggler:checked::before{
    content: '\f00d';
    color:#fff;
    transition: .2s linear .2s;
  }
  
  #nav-toggler:checked ~ .navbar
  {
    left:0;
  }

.navbar{
    position: fixed;
    top: 0;
    left: -110%;
    height: 100%;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: column;
    padding: 0 10%;
}

.navbar a{
    font-size: 4em;
    color: transparent;
    -webkit-text-stroke: 1px rgb(144, 140, 140);
    font-weight: bolder;
    position: relative;
    letter-spacing: 3px;
}

.navbar a::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color:rgba(255,255,255,.9);
    transition: linear;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.navbar a:hover::before{
  clip-path: polygon(0 0, 100% 0, 99% 100%, 0 100%);
}
.background-image{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("./../assets/images/do.webp") no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
    z-index: -1;
}

.navbar a:hover:nth-child(2) ~ .background-image{
    background: url("./../assets/images/work.webp") no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar a:hover:nth-child(3) ~ .background-image{
    background: url("./../assets/images/about.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar a:hover:nth-child(4) ~ .background-image{
    background: url("./../assets/images/contact.webp") no-repeat;
    background-size: cover;
    background-position: center;
}

.project-list{
  width: 100%;
  height: 40px;
  position: relative;
}
.project {
  border: none;
  margin: 20px;
  padding: 20px;
  position: relative;
  min-height: 200px;
  width: 100%;
}

.project img {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.project-details {
  flex: 1;
  text-align: center;
  color: white;
}

.project-name {
  font-size: 2em;
  font-weight: bold;
  color: white;
  text-align: center;
}

.project-description {
  margin-top: 10px;
  color: white;
  display: none;
  text-align: center;
}

.project-publisher {
  text-align: center;
  margin-top: 10px;
  color: white;
  font-weight: bold;
}
 
 .project-hyperlink {
  background-color: white;
  color: black;
  border-radius: 10em;
  width: 25%;
  font-size: 17px;
  font-weight: 600;
  padding: 1em 1em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
  margin: auto;
  display: flex;
  text-align: center;
  left: 0;
  right:0;
}

.project-hyperlink:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
};

.project-hyperlink:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
};

@media (max-width:768px){
  .navbar{
    align-items: center;
  }
    .navbar a{
      font-size: 3em;
    }
    header .logo{
      width: 10%
  }
  .splash{
    visibility: hidden;
  }
    .project {
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .project img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 20px;
    }
    .classText .description{
      max-width: 25%;
    }
  }
  
  @media (max-width:450px){
    .navbar{
      align-items: center;
    }
    .navbar a{
      font-size: 2em;
    }
    header .logo{
      width: 15%
    }
    .splash{
    visibility: hidden;
    }
  }
  header .logo{
      width: 80px;
  }

  .call-to-action{
    width: 100%;
    display: flex;
  }
  .call-to-action .introduction{
    width: 100%;
    height: 100%;
  }

  .text{
    color: white;
  }

  .imgClass{
    position: relative;
    width: 500px;
    height: 250px;
    border-radius: 80em;
    margin: auto;
    padding: 20px;
  }
  .imgClass img
  {
    position: relative;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .classText{
    width: 100%;
  }
  .classText .name{
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
  }
  .classText .description{
    max-width: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin:auto;
    font-size: 14px;
    align-items: center;
    font-family: --var(alegreya);
  }

.name{
    font-family: sans-serif;
}

.name span{
    color: var(--sunset);
    font-size: var(--fs);
    display: block;
}
.about_text{
  margin: 0;
  display: flex;
  padding: 10px;
  text-wrap: wrap;
}